<header>
    <section id="logo">
        <a href="/admin">
            <img id="logo" src="../../public/images/estetica.jpg" class="img">
        </a>
    </section>
    <nav>
        <ul class="menu">
            <li><a href='#'>MENU</a>
                <ul>
                    <li><a href="/produto">Produtos</a></li>
                    <li><a href="/produto/add">Novo Produto</a></li>
                    <li><a href="/servicos">Serviços</a></li>
                    <li><a href="/servicos/add">Novo Serviço</a></li>
                    <li><a href="/agenda">Agenda</a></li>
                    <li><a href="/agenda/add">Agendamento</a></li>
                    <li><a href="/caixa">Caixa</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<!--TODO: adicionar messagem -->