<header>
    <section id="logo">
        <a href="/cliente">
            <img id="logo" src="../../public/images/estetica.jpg" class="img">
        </a>
    </section>
    <nav>
        <a href="/cliente/agenda/add"><button class="agendamento"><span class="btn">Novo Agendamento</span></button></a>
        <a href="/cliente/agenda"><button class="agendamento"><span class="btn">Agenda</span></button></a>
        <a href="/cliente"><button class="agendamento"><span class="btn">Sobre nós</span></button></a>
        <a href="/cliente/infos"><button class="agendamento"><span class="btn">Serviços</span></button></a>
    </nav>
</header>