<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body>
    <%- include('./includes/adminHeader'); %>
    <main>
        <h1>Agendamento</h1>

        <section id="add">
            <form id="dados" action="./add" method="POST">       
                <label for="nome"><p>NOME</p></label>
                <article>
                    <input type="text" id= "nome" name="nome" placeholder="Insira o nome">
                </article>
                <label for="data"><p>DATA</p></label>
                <article>
                    <input type="date" id= "data" name="data">
                </article>
                <label for="nome"><p>HORA</p></label>
                <article>
                    <input type="time" id= "hora" name="hora">
                </article>
                <label for="procedimento"><p>PROCEDIMENTO</p></label>
                <article>
                    <textarea id= "procedimento" name="procedimento" placeholder="Insira o procedimento a ser realizado"></textarea>
                </article>
                 <label for="preco"><p>VALOR</p></label>
                <article>
                    <input type="number" id= "preco" step="0.1" name="preco" placeholder="Insira o valor do servico">
                </article>               

             <button type="submit">Salvar</button>
            </form>
        </section>
         
    </main>
    <%- include('./includes/adminFooter'); %>
</body>
</html>