<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body>
    <header> 
        <nav>
        <a href="/"><input type="button" value="Início"></a>
        <a href="../servicos"><input type="button" value="Serviço"></a>
        <a href="/servicos/add"><input type="button" value="Novo Serviço"></a>
        <a href="/produto"><input type="button" value="Produtos"></a>
        <a href="../produto/add"><input type="button" value="Novo Produto"></a>
        </nav>
        <h1>Adicionar Agendamento</h1>
    </header>
    <main>
        <section id="add">
            <form id="dados" action="./add" method="POST">       
                <label for="nome"><p>NOME</p></label>
                <article>
                    <input type="text" id= "nome" name="nome" placeholder="Insira o nome">
                </article>
                <label for="nome"><p>DATA</p></label>
                <article>
                    <input type="date" id= "data" name="data" placeholder="Insira a data">
                </article>
                <label for="nome"><p>HORA</p></label>
                <article>
                    <input type="time" id= "hora" name="hora" placeholder="Insira a hora">
                </article>               

             <button type="submit">Salvar</button>
            </form>
        </section>
         
    </main>
    
</body>
</html>