<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body>
    <header> 
        <section id="logo">
            <a href="/admin">
            <img id="logoImg" src="../../public/images/Lisa.png" class="img">
            </a>
        </section>
        <nav>
            <ul class="menu"> <li><a href='#'>MENU</a>
                <ul>
                    <li><a href="/produto">Produtos</a></li>
                    <li><a href="/produto/add">Novo Produto</a></li>
                    <li><a href="/servicos">Serviços</a></li>
                    <li><a href="/servicos/add">Novo Serviço</a></li>
                    <li><a href="/agenda">Agenda</a></li>
                    <li><a href="/agenda/add">Agendamento</a></li>
                    <li><a href="/caixa">Caixa</a></li>
                </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Adicionar Produto</h1>

        <section id="add">
            <form id="dados" action="./add" method="POST">       
                <label for="nome"><p>NOME</p></label>
                <article>
                    <input type="text" id= "nome" name="nome" placeholder="Insira o nome do produto">
                </article>
                <label for="descricao"><p>DESCRIÇÃO</p></label>
                <article>
                    <textarea id= "descricao" name="descricao" placeholder="Insira a descrição do produto"></textarea>
                </article>
                <label for="valor"><p>VALOR</p></label>
                <article>
                    <input type="number" id= "valor" step="1" name="valor" placeholder="Insira o valor do produto">
                </article>
                <label for="vendedor"><p>VENDEDOR</p></label>
                <article>
                    <input type="text" id= "vendedor" name="vendedor" placeholder="Insira o vendedor do produto">
                </article>
                <label for="data"><p>DATA DE VALIDADE</p></label>
                <article>
                    <input type="date" id= "data" name="data" placeholder="Selecione a data">
                </article>   
                <label for="estoque"><p>ESTOQUE</p></label>
                <article>
                    <input type="number"  step="1" id= "estoque" name="estoque">
                </article>

             <button class="submit">Salvar</button>
            </form>
        </section>

    </main>
    <footer>
        <section id="footerImg">
        <img id="footer" src="../../public/images/Lisa.png" class="img">
        </section>
        <section id="footerNav">
            <a href="/admin">Início</a>
            <a href="/produto">Produtos</a>
            <a href="/produto/add">Novo Produto</a>
            <a href="/servicos">Serviços</a>
            <a href="/servicos/add">Novo Serviço</a>
            <a href="/agenda">Agenda</a>
            <a href="/agenda/add">Agendamento</a>
            <a href="/caixa">Caixa</a>
        </section>
        <section id="end">
            <h4>Endereço</h4>
            <p>Rua Umbuzeiro, 54</p>
            <p>Alto Floresta</p>
            <p>Montes Claros - MG</p>
        </section>
        <section id="contato">
            <h4>Contato</h4>
            <p><img src="../../public/images/chamada-telefonica.png" id="contatoImg">(38) 98411-3383</p>
            <p><img src="../../public/images/whatsapp.png" id="contatoImg"><a href ="https://l.instagram.com/?u=http%3A%2F%2Fwa.me%2F5538992507250&e=AT0MfqxHwPHSI4qRR8BB6lgACYhkBbU-T5AlO_tzsojlW3pa8LuJjwNCpO5ZI92VbTXYs55CIhVMM4SRa7wW8TfVjwtoww_rdhmkpw">(38) 99250-7250</a></p>
            <p><img src="../../public/images/telefone-tipico-antigo.png" id="contatoImg">(38) 3213-2469</p>
            <p><img src="../../public/images/marketing-de-email.png" id="contatoImg">hudson.o.pereira@gmail.com</p>
            <p><img src="../../public/images/instagram.png" id="contatoImg">/lisaribeiro44/</p>
        </section>
    </footer>
</body>
</html>