<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body>
    <header> 
        <nav>
        <a href="/admin"><button>Início</button></a>
        <a href="../servicos"><button>Serviços</button></a>
        <a href="/produto"><button>Produtos</button></a>
        <a href="../produto/add"><button>Novo Produto</button></a>
        </nav>
        <h1>Adicionar Serviço</h1>
    </header>
    <main>
        <section id="add">
            <form id="dados" action="./add" method="POST">       
                <label for="nome"><p>NOME</p></label>
                <article>
                    <input type="text" id= "nome" name="nome" placeholder="Insira o nome do produto">
                </article>
                <label for="descricao"><p>DESCRIÇÃO</p></label>
                <article>
                    <textarea id= "descricao" name="descricao" placeholder="Insira a descrição do produto"></textarea>
                </article>
                <label for="valor"><p>VALOR</p></label>
                <article>
                    <input type="number" step="0.1" id= "valor" name="valor" placeholder="Insira o valor do produto">
                </article>
                <label for="produto"><p>PRODUTO</p></label>
                <article>
                    <input type="text" id= "produto" name="produto" placeholder="Insira o nome dos produtos">
                </article>
                

             <button type="submit">Salvar</button>
            </form>
        </section>
         
    </main>
    
</body>
</html>