<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body id="inicio">
    <header> 
        <nav>
        <a href="produto"><input type="button" value="Produtos"></a>
        <a href="produto/add"><input type="button" value="Novo Produto"></a>
        <a href="servicos"><input type="button" value="Serviço"></a>
        <a href="servicos/add"><input type="button" value="Novo Serviço"></a>

        </nav>

        <!-- <h1>Espaço Lisa Ribeiro</h1> -->

    </header>
    <main>
    </main>
    
</body>
</html>