<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espaço Lisa Ribeiro</title>
</head>
<body id="inicio">
    <header> 
        <nav>
            <h1>Espaço Lisa Ribeiro</h1>
        </nav>
        <a href="/produto"><input type="button" value="Produto"></a>
    </header>
    <main>
    </main>
    
</body>
</html>