<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body id="produtos">
    <header> 
        <nav>
        <a href="/"><input type="button" value="Início"></a>
        </nav>
        <h1 id="produtos">Espaço Lisa Ribeiro</h1>
    </header>
    <main>
        <section id="prods">
            <%= produtos[0].nome %>
        </section>
            <section>
               <form id="dados" action="produtos/add" method="POST">
                <article>
                    <p id="prod">Produto:<input type="text" name="nome" placeholder="Insira o nome do produto"></p>
                </article>

                <button type="submit">Salvar</button>
               </form>
            </section> 
    </main>


    <script src="/js/script.js"></script>
</body>
</html>