body{
    background: black url("./Lisa.jpeg") repeat-y right 50px;
    background-size: 50%;

}#inicio{
    background: black url("./Lisa.jpeg") repeat-y center 50px; 
    background-size: 40%;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button{
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    background-color: rgb(226, 83, 107) 
}#salvar{
margin-left: 150px;
}.manipular{
    margin: 0 30px 0 10px 
}

h1{
    margin-left: 30px;
    padding-left: 100px;
    color: rgb(226, 83, 107)
}#msg{
    text-align: center;
}

h2{
    color: rgb(226, 83, 107) 
}

h3{
    color: rgb(226, 83, 107);
    text-align: center; 
}

.agenda{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section#dados{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    flex-wrap: wrap;
    width:80%;
    min-height: 50px;
    font-size: 30px;
    color: rgb(226, 83, 107);
    background-color: rgb(248, 172, 185);
    margin: 1% 5% ;
    border-radius: 35px;
    padding: 15px;
}#dadosUser{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width:450px;
    min-height: 50px;
    font-size: 30px;
    color: rgb(226, 83, 107);
    background-color: rgb(248, 172, 185);
    margin-bottom: 20px;
    border-radius: 35px;
    padding: 15px;
}#data{
    display: flex;
    flex-direction: row;
    color: rgb(226, 83, 107);
    width: 300px;
    height: 50px;
}#add{
    background-color: rgb(248, 172, 185);
    width:400px;
    margin-left: 35px;
    margin-bottom: 20px;
    border-radius: 35px;
    padding: 15px;
    font-size: 25px;
}#manipulacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
}#msgs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}#login{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

span{
    margin: 8px;
    font-size: 20px;
    color: black;
}

label{
    color: rgb(226, 83, 107);
}#data{
    height: 30px;
}

article{
    margin: 10px 10px 30px 10px 
}

p{
    margin-left: 10px;
}

input#dia{
    margin-top: 18px;
    width: 50px
}#mes{
    margin-top: 18px;
    width: 50px
}#ano{
    margin-top: 18px;
    width: 50px
}#estoque{
    width: 90px
}#descricao{
    height: 150px;
}#username{
    margin: 5px;
}#password{
    margin: 5px;
}
