<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body>
    <header> 
        <nav>
        <a href="../admin"><button>Início</button></a> 
        <a href="/cliente/agenda/add"><button>Novo Agendamento</button></a>

        </nav>
        <h1>Agendamentos</h1>
    </header>
    <main class="agenda">

            <% agenda.forEach(item => { %> 
                <ul id="detalhes">
                    <section id="dadosUser">
                        NOME:<span><%= item.nome %></span>
                        DATA:<span><%= item.data %></span>
                        HORA:<span><%= item.hora %></span>

                    </section>
                    
                </ul>
                
                <% }); %> 
                
    </main>


    <script>
       
    </script>
</body>
</html>