<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body>
    <header> 
        <section id="logo">
            <a href="/cliente">
            <img id="logoImg" src="../../public/images/Lisa.png" class="img">
            </a>
        </section>
        <nav>
        <a href="/cliente/agenda/add"><button class="agendamento"><span class="btn">Novo Agendamento</span></button></a>
        <a href="/cliente/agenda"><button class="agendamento"><span class="btn">Agenda</span></button></a> 
        <a href="/cliente"><button class="agendamento"><span class="btn">Sobre nós</span></button></a>    

    </nav>
    </header>
    <main>
        <h1>Conheça nossos serviços</h1>

        <section id="infos">
            <section id="info">
                <h3>Microagulhamento Capilar</h3>
            <img src="../../public/images/micro.jpg" class="img">
            <p>O microagulhamento capilar é um tipo de tratamento dermatológico de estética capilar que atrai muitas pessoas para as clínicas de estética. 
                A técnica, que também é conhecida como agulhamento de pele, atua aumentando a produção de colágeno na cabeça, amenizando os efeitos do envelhecimento na região.</p> 
            </section>
        
            <section id="info">
                <h3>Lorem ipsum</h3>
            <img src="../../public/images/1antes.jpg" class="img">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc condimentum nec augue commodo suscipit. 
                Suspendisse potenti. Vestibulum tempor arcu nisl, sit amet interdum neque volutpat nec. Pellentesque mollis massa lectus, at feugiat ligula viverra non. 
            </section>

            <section id="info">
                <h3>Lorem ipsum</h3>
            <img src="../../public/images/1antes.jpg" class="img">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc condimentum nec augue commodo suscipit. 
                Suspendisse potenti. Vestibulum tempor arcu nisl, sit amet interdum neque volutpat nec. Pellentesque mollis massa lectus, at feugiat ligula viverra non. 
            </section>

            <section id="info">
                <h3>Lorem ipsum</h3>
            <img src="../../public/images/1antes.jpg" class="img">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc condimentum nec augue commodo suscipit. 
                    Suspendisse potenti. Vestibulum tempor arcu nisl, sit amet interdum neque volutpat nec. Pellentesque mollis massa lectus, at feugiat ligula viverra non. 
            </section>

            <section id="info">
                <h3>Lorem ipsum</h3>
            <img src="../../public/images/1antes.jpg" class="img">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc condimentum nec augue commodo suscipit. 
                    Suspendisse potenti. Vestibulum tempor arcu nisl, sit amet interdum neque volutpat nec. Pellentesque mollis massa lectus, at feugiat ligula viverra non. 
            </section>
        </section>
    </main>

    <footer>
        <section id="footerImg">
        <img id="footer" src="../../public/images/Lisa.png" class="img">
        </section>
        <section id="footerNav">
            <a href="/admin">Login</a>
            <a href="/cliente">Sobre nós</a>
            <a href="/cliente/agenda">Agenda</a>
            <a href="/cliente/agenda/add">Agendamento</a>
            <a href="/cliente/infos">Serviços</a>    

        </section>
        <section id="end">
            <h4>Endereço</h4>
            <p>Rua Umbuzeiro, 54</p>
            <p>Alto Floresta</p>
            <p>Montes Claros - MG</p>
        </section>
        <section id="contato">
            <h4>Contato</h4>
            <p><img src="../../public/images/chamada-telefonica.png" id="contatoImg">(38) 98411-3383</p>
            <p><img src="../../public/images/whatsapp.png" id="contatoImg">(38) 98411-3383</p>
            <p><img src="../../public/images/telefone-tipico-antigo.png" id="contatoImg">(38) 3213-2469</p>
            <p><img src="../../public/images/marketing-de-email.png" id="contatoImg">hudson.o.pereira@gmail.com</p>
            <p><img src="../../public/images/instagram.png" id="contatoImg">/lisaribeiro44/</p>
        </section>
    </footer>
    
</body>
</html>