<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head> -->
<body>
    <%- include('../includes/clientHeader'); %>
    <main>

        <h1>Nossos Serviços</h2>

        <div class="carousel">
            <div class="carousel-wrapper">
                <div class="carousel-item">
                    <div class="servicos">
                        <h3>Peeling Químico</h3>
                        <img src="/public/images/peelingQuimico.jpg" class="img">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="servicos">
                        <h3>Depilação à laser</h3>
                        <img src="/public/images/depilaLaser.jpg" class="img">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="servicos">
                        <h3>Drenagem Linfática</h3>
                        <img src="../../public/images/drenagemLinfa.jpg" class="img">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="servicos">
                        <h3>Limpeza de Pele</h3>
                        <img src="../../public/images/limpezaPele.jpg" class="img">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="servicos">
                        <h3>Microagulhamento</h3>
                        <img src="../../public/images/microAgulha.jpg" class="img">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="servicos">
                        <h3>Preenchimento Facial</h3>
                        <img src="../../public/images/preenchimentoFace.jpg" class="img">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="servicos">
                        <h3>Toxinia Botulínica</h3>
                        <img src="../../public/images/toxBolu.jpg" class="img">
                    </div>
                </div>
            </div>
            <div class="carousel-nav">
                <button id="prevBtn">
                </button>
                <button id="nextBtn"> </button>
            </div>
        </div>
         
    </main>
    <%- include('../includes/clientFooter'); %>
    
</body>
</html>