<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head> -->
<body>
    <%- include('../includes/clientHeader'); %>
    <main>

        <h1>Casos de sucesso</h2>

        <section class="sucesso">
            <section id="sucesso">
            <h3>Peeling Italiano</h3>
                <img src="../../public/images/primeiro.jpeg" class="img">
            </section>
            <section id="sucesso">
                <h3>Peeling Italiano</h3>
                <img src="../../public/images/segundo.jpeg" class="img">
            </section>
            <!-- <section id="sucesso">
                <h3>Lorem ipsum</h3>
                <img src="../../public/images/1antes.jpg" class="img">
                <img src="../../public/images/1depois.jpg" class="img">
            </section>
            <section id="sucesso">
                <h3>Lorem ipsum</h3>
                <img src="../../public/images/1antes.jpg" class="img">
                <img src="../../public/images/1depois.jpg" class="img">
            </section>
            <section id="sucesso">
                <h3>Lorem ipsum</h3>
                <img src="../../public/images/1antes.jpg" class="img">
                <img src="../../public/images/1depois.jpg" class="img">
            </section> -->
        </section>
         
    </main>
    <%- include('../includes/clientFooter'); %>
    
</body>
</html>